<!DOCTYPE html>
<html lang="en" dir="ltr">

	<body class="over">

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link href="static/main.css" rel="stylesheet" text="text/css"/>
		<link href="static/normalize.css" rel="stylesheet" text="text/css"/>
		<link href="static/responsive.css" rel="stylesheet" text="text/css"/>
		<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://static.parastorage.com/services/third-party/fonts/Helvetica/fontFace.css">
		<link rel="stylesheet" href="https://static.parastorage.com/unpkg/angular-material@1.1.0-rc.5/angular-material.min.css">
		<link rel="stylesheet" href="https://static.parastorage.com/services/adi-web/2.3014.0/first-parties-css.min.css">
		<link rel="stylesheet" href="https://static.parastorage.com/services/adi-web/2.3014.0/fonts2-css.min.css">


	</body>


		{% block content%}
		{% endblock %}

</html>
